<script setup>
import { ArrowNarrowLeftIcon } from "@heroicons/vue/solid";
import Facebook from "@/assets/svg/facebookShare.svg?url";
import Insta from "@/assets/svg/instaShare.svg?url";
import Twitter from "@/assets/svg/twitterShare.svg?url";
import Telegram from "@/assets/svg/telegramShare.svg?url";
import CopyLinkIco from "@/assets/svg/copyLinkIcon.svg?url";
import { projects } from "@/data/data.json";
const currentLink = ref("");

const crumb = [
  { id: 1, name: "Projects", link: "/", current: false, hash: "projects" },
  { id: 2, name: "Project Detail", link: "/", current: true, hash: "" },
];

const copyLink = ref();

onMounted(() => {
  currentLink.value = window.location.href;
  console.log("copylink", currentLink);
});

const router = useRoute();

const filteredPro = ref(projects.find((el) => el.id == router.params.project));
</script>
<template>
  <div class="min-h-screen flex justify-center">
    <Head>
      <Title>{{ filteredPro.title }}</Title>
      <Meta
        data-n-head="ssr"
        name="viewport"
        content="width=device-width, initial-scale=1"
      />
      <Meta
        data-n-head="ssr"
        data-hid="og:title"
        property="og:title"
        :content="filteredPro.title"
      />
      <Meta
        data-n-head="ssr"
        data-hid="og:description"
        property="og:description"
        :content="filteredPro.p1"
      />
      <Meta
        data-n-head="ssr"
        data-hid="description"
        property="description"
        :content="filteredPro.p1"
      />
      <Meta
        data-n-head="ssr"
        data-hid="og:url"
        property="og:url"
        :content="currentLink"
      />
      <Meta
        data-n-head="ssr"
        data-hid="og:type"
        property="og:type"
        content="website"
      />
      <Meta
        data-n-head="ssr"
        data-hid="og:image"
        property="og:image"
        :content="filteredPro.img"
      />
      <Meta
        data-n-head="ssr"
        data-hid="twitter:card"
        property="twitter:card"
        content="summary_large_image"
      />
      <Meta
        data-n-head="ssr"
        data-hid="twitter:domain"
        property="twitter:domain"
        content="hahu.vercel.app"
      />
      <Meta
        data-n-head="ssr"
        data-hid="twitter:url"
        property="twitter:url"
        :content="currentLink"
      />
      <Meta
        data-n-head="ssr"
        data-hid="twitter:title"
        property="twitter:title"
        :content="filteredPro.title"
      />
      <Meta
        data-n-head="ssr"
        data-hid="twitter:description"
        property="twitter:description"
        :content="filteredPro.p1"
      />
      <Meta
        data-n-head="ssr"
        property="twitter:image"
        :content="filteredPro.img"
      />
    </Head>
    <section
      class="mt-10 flex flex-col rounded-[15px] bg-white px-5 duration-500 ease-in dark:bg-HahuGray1 sm:px-10 w-11/12 xl:w-9/12 md:px-12 lg:px-24 3xl:px-24"
    >
      <div class="relative mb-10 mt-10 sm:mt-0 flex items-end font-bold">
        <Contained :crumb="crumb" />
        <div class="ml-auto flex">
          <a class="mt-10 flex self-end" href="/">
            <button
              class="hidden group sm:flex items-center justify-end self-end rounded-md bg-primary px-2 py-1 text-base font-medium leading-6 text-white lg:px-5 lg:py-3"
            >
              <ArrowNarrowLeftIcon
                class="mr-[9px] inline-block h-5 w-5 text-white duration-300 group-hover:-translate-x-2"
              />Back
            </button>
          </a>
        </div>
      </div>

      <div
        class="flex flex-col-reverse lg:flex-row justify-between mt-5 lg:mt-[78px] lg:text-2xl 3xl:text-3xl"
      >
        <h1 class="text-2xl font-black leading-9 text-primary mt-10 md:mt-0">
          {{ filteredPro.title }}
        </h1>

        <div class="flex gap-2 justify-end">
          <a
            :href="`http://www.facebook.com/sharer/sharer.php?u=${currentLink}&t=${filteredPro.title}`"
            target="_blank"
            class="share-popup rounded-md border-2 border-gray-300 bg-white duration-500 ease-in dark:bg-HahuGray/4"
          >
            <img
              class="object-contain px-[13px] py-[9px]"
              :src="Facebook"
              alt="facebook"
            />
          </a>
          <button
            class="rounded-md border-2 border-gray-300 bg-white duration-500 ease-in dark:bg-HahuGray/4"
          >
            <img
              class="object-contain px-[13px] py-[9px]"
              :src="Insta"
              alt="instagram"
            />
          </button>
          <a
            :href="`http://twitter.com/share?text=${filteredPro.title}&url=${currentLink}&hashtags=HahuJobs,Minab_ICT_Solutions`"
            target="_blank"
            class="rounded-md border-2 border-gray-300 bg-white duration-500 ease-in dark:bg-HahuGray/4"
          >
            <img
              class="object-contain px-[13px] py-[9px]"
              :src="Twitter"
              alt="twitter"
            />
          </a>
          <a
            :href="`https://t.me/share/url?url=${currentLink}&text=${filteredPro.title}`"
            target="_blank"
            class="rounded-md border-2 border-gray-300 bg-white duration-500 ease-in dark:bg-HahuGray/4"
          >
            <img
              class="object-contain px-[13px] py-[9px]"
              :src="Telegram"
              alt="telegram"
            />
          </a>
        </div>
      </div>
      <p
        class="mt-9 text-base font-normal leading-[30px] duration-500 ease-in dark:text-HahuGray/4 md:text-base 3xl:text-lg"
      >
        {{ filteredPro.p1 }}
      </p>
      <nuxt-img
        format="webp"
        width="1236"
        height="695"
        class="mt-[54px] rounded-lg"
        v-if="filteredPro.img"
        :src="filteredPro.img"
        alt="projectImage1"
      />

      <p
        class="mt-6 md:mt-10 text-base font-normal leading-[30px] duration-500 ease-in dark:text-HahuGray/4 md:text-base 3xl:text-lg"
      >
        {{ filteredPro.p2 }}
      </p>
      <nuxt-img
        format="webp"
        width="1236"
        height="695"
        provider="cloudinary"
        class="mt-[54px]"
        v-if="filteredPro.img2"
        :src="filteredPro.img2"
        alt="projectImage2"
      />
      <p
        class="mt-14 text-base font-normal leading-[30px] duration-500 ease-in dark:text-HahuGray/4 md:text-base 3xl:text-lg"
        v-if="filteredPro.p3"
      >
        {{ filteredPro.p3 }}
      </p>

      <div class="mt-20 mb-20 flex flex-col md:flex-row group">
        <div
          class="mr-4 md:mr-10 items-center lg:items-start lg:mr-20 flex flex-col"
        >
          <h2
            class="text-xl self-start font-black leading-[30px] dark:text-white"
          >
            Client
          </h2>
          <div
            :class="
              router.params.project == 6 ? 'max-w-[250px]' : 'max-w-[150px]'
            "
          >
            <nuxt-img
              format="webp"
              provider="cloudinary"
              class="mt-10 group-hover:grayscale-0 dark:group-hover:invert-0 dark:brightness-50 dark:group-hover:brightness-100 grayscale dark:invert duration-200"
              :src="filteredPro.client"
              alt="clientImg"
            />
          </div>
        </div>
        <div
          class="mt-16 rounded-full border-[3px] border-HahuGray3 group-hover:border-primary bg-HahuGray3 group-hover:bg-primary duration-300"
        />
        <div class="mt-10 md:mt-0 ml-6 md:ml-10 lg:ml-24 flex flex-col">
          <h2 class="text-xl font-black leading-[30px] dark:text-white">
            Partners
          </h2>
          <div
            class="mt-10 grid grid-cols-1 place-items-center sm:grid-cols-2 max-w-md gap-y-10 sm:gap-x-20 sm:gap-y-10"
          >
            <div
              v-for="img in filteredPro.partners"
              :class="false ? 'w-[220px]' : 'max-w-[150px]'"
            >
              <nuxt-img
                format="webp"
                provider="cloudinary"
                class="group-hover:grayscale-0 dark:brightness-50 dark:group-hover:brightness-100 dark:group-hover:invert-0 grayscale dark:invert duration-200"
                :src="img"
                alt="partnerImg"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<style scoped></style>
