<script setup>
import "vue3-carousel/dist/carousel.css";
import { ArrowNarrowRightIcon } from "@heroicons/vue/solid";
import { Carousel, Slide, Pagination, Navigation } from "vue3-carousel";

const props = defineProps({ cardSlider: Array });
const itemsToShow = ref(1);
const showNav = ref(false);
const target = ref(null);
const observer = shallowRef();
const startingPos = ref("");
const carWidth = (windowWidth) => {
  if (windowWidth < 768) {
    itemsToShow.value = 1;
    showNav.value = false;
    startingPos.value = "center";
  } else if (windowWidth > 768 && windowWidth < 1280) {
    itemsToShow.value = 1.5;
    showNav.value = true;
    startingPos.value = "center";
  } else if (windowWidth > 1280 && windowWidth < 1600) {
    itemsToShow.value = 2.5;
    showNav.value = true;
    startingPos.value = "start";
  } else if (windowWidth > 1600) {
    itemsToShow.value = 2.4;
    showNav.value = true;
    startingPos.value = "start";
  }
};

onMounted(() => {
  const windowWidth = ref(window.innerWidth);
  carWidth(window.innerWidth);
  window.onresize = () => {
    windowWidth.value = window.innerWidth;
    carWidth(windowWidth.value);
  };
});
</script>

<template>
  <carousel
    :items-to-show="itemsToShow"
    :wrap-around="true"
    snapAlign="start"
    show="true"
    class="mx-3 lg:mx-5"
  >
    <slide
      v-for="(slide, i) in props.cardSlider"
      :key="slide"
      show="true"
      class="w-full lg:mx-5 2xl:mx-10 py-5 block"
    >
      <a
        :href="'/projects/' + slide.id"
        class="flex flex-col justify-between w-full h-full hover:scale-[1.01] active:scale-100 rounded-2xl bg-white dark:bg-HahuGray1 duration-300 lg:mx-10 xl:mx-8 3xl:mx-16 border-2 border-transparent hover:border-primary active:shadow-none hover:shadow-lg"
      >
        <div class="w-full group">
          <div class="mb-7 aspect-w-4 aspect-h-2">
            <nuxt-img
              format="webp"
              width="565"
              height="282"
              provider="cloudinary"
              class="object-fill rounded-t-2xl"
              :src="slide.thumbnail"
              alt="thumbnail"
            />
          </div>

          <div
            class="flex flex-col justify-between px-4 sm:px-6 xl:px-8 3xl:px-12"
          >
            <div class="flex flex-col">
              <h1
                class="self-start text-xl text-left font-black leading-6 text-primary"
              >
                {{ slide.title }}
              </h1>
              <p
                class="mt-5 text-left text-sm lg:text-lg font-light leading-[30px] dark:text-HahuGray3 line-clamp-4"
              >
                {{ slide.p1 }}
              </p>
            </div>

            <div class="mt-4 mb-5 flex">
              <div class="mr-4 flex flex-col">
                <h2
                  class="self-start text-xl font-black leading-[30px] dark:text-white"
                >
                  Client
                </h2>
                <div :class="slide.id == 6 || i == 7 ? 'w-28' : 'w-28'">
                  <!-- {{ slide.id }} -->
                  <nuxt-img
                    format="webp"
                    provider="cloudinary"
                    class="mt-10 group-hover:grayscale-0 dark:brightness-50 dark:group-hover:brightness-100 dark:group-hover:invert-0 grayscale dark:invert duration-200"
                    :src="slide.client"
                    alt="clientImage"
                  />
                </div>
              </div>
              <div
                class="mt-16 rounded-full border-2 border-primary bg-primary xl:border-HahuGray3 xl:bg-HahuGray3 xl:group-hover:border-primary xl:group-hover:bg-primary duration-500"
              />
              <div class="ml-6 flex flex-col">
                <h2
                  class="self-start text-xl font-black leading-[30px] dark:text-white"
                >
                  Partners
                </h2>
                <div
                  class="mt-10 grid grid-cols-2 gap-y-5 gap-x-3 place-items-center"
                >
                  <div
                    v-for="img in slide.partners"
                    :class="
                      slide.id == 6 || slide.id == 7 ? 'w-full' : 'w-11/12'
                    "
                    class="flex justify-center"
                  >
                    <!-- class="object-fill dark:group-hover:xl:brightness-100 dark:group-hover:xl:invert-0 dark:xl:grayscale-0 dark:xl:opacity-100 dark:xl:brightness-0 dark:xl:invert xl:opacity-60 xl:grayscale xl:group-hover:opacity-100 xl:group-hover:grayscale-0" -->
                    <nuxt-img
                      format="webp"
                      provider="cloudinary"
                      class="group-hover:grayscale-0 dark:brightness-50 dark:group-hover:brightness-100 dark:group-hover:invert-0 grayscale dark:invert duration-200"
                      :src="img"
                      alt="partnerImage"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mr-12 mb-10 flex justify-end z-50">
          <button
            class="group flex items-center text-lg font-semibold leading-7 text-primary"
          >
            Project Details
            <ArrowNarrowRightIcon
              class="ml-2 h-5 w-5 text-primary duration-300 group-hover:translate-x-2"
            />
            <!-- <div class="mr-[46px]"></div> -->
          </button>
        </div>
      </a>
    </slide>

    <template #addons="{ slideWidth }">
      <div class="block">
        <navigation />
      </div>
    </template>
  </carousel>
</template>

<style>
:root {
  /* Color */
  --vc-clr-primary: #00dcac00;
  --vc-clr-secondary: #21ad2f;
  --vc-clr-white: #ffffff;

  /* Icon */
  --vc-icn-width: 1.2em;

  /* Navigation */
  --vc-nav-width: 100px;
  --vc-nav-color: #697280;
  --vc-nav-background-color: var(--vc-clr-primary);
}

.carousel__icon {
  z-index: 1000;
}
</style>
