<script setup></script>
<template>
  <div>
    <div
      class="flex flex-col text-center justify-center items-center mt-6 3xl:mt-16"
    >
      <h1
        class="text-3xl 3xl:text-6xl text-center font-bold text-secondary dark:text-white"
      >
        Oops! something went wrong
      </h1>
      <h1
        class="text-xl mt-1 3xl:text-3xl 3xl:mt-10 text-center dark:text-white"
      >
        YOU MAY HAVE FOLLOWED A BAD LINK
      </h1>
      <div>
        <div class="overflow-hidden w-full flex justify-center">
          <nuxt-img
            format="webp"
            width="1111"
            height="600"
            src="https://res.cloudinary.com/hahu-io/image/upload/v1660721935/hahuIO/images/errorpage/404_page-02_rznzlq.png"
            class="object-contain"
          />
        </div>
        <NuxtLink class="flex justify-center mt-7" to="/">
          <button
            class="bg-primary px-3 py-2 rounded-md text-white text-xl animate-bounce duration-700"
          >
            Go Back Home
          </button>
        </NuxtLink>
      </div>
    </div>
  </div>
</template>
