<script setup>
import { ArrowNarrowRightIcon } from "@heroicons/vue/solid";
</script>
<template>
  <div class="min-h-screen px-4 md:px-12 xl:px-14 2xl:px-24">
    <section
      class="mb-0 flex flex-col items-center overflow-hidden overflow-y-hidden lg:mb-0 lg:min-h-[83vh] xl:space-x-20 lg:flex-row"
      id="home"
    >
      <div class="mt-14 3xl:mt-20 lg:flex-1">
        <div class="w-6/12 sm:w-4/12 2xl:w-full">
          <img
            width="273"
            height="32"
            class="object-contain dark:hidden"
            src="https://res.cloudinary.com/hahu-io/image/upload/v1660721916/hahuIO/images/landing/Hahu_logo1_vkjhcr.png"
            alt="hahuLogo"
          />
          <img
            width="273"
            height="32"
            class="hidden object-contain dark:block"
            src="https://res.cloudinary.com/hahu-io/image/upload/v1660721918/hahuIO/images/landing/Hahu_logo1_dark_chhb8s.png"
            alt="hahuLogo"
          />
        </div>
        <div class="w-8/12 sm:w-6/12 3xl:w-full">
          <img
            width="476"
            height="85"
            class="mt-10 object-contain dark:hidden"
            src="https://res.cloudinary.com/hahu-io/image/upload/v1660721917/hahuIO/images/landing/Hahu_logo2_bzndts.png"
            alt="hahujobsLogo"
          />
          <img
            width="476"
            height="85"
            class="mt-10 hidden object-contain dark:block"
            src="https://res.cloudinary.com/hahu-io/image/upload/v1660721915/hahuIO/images/landing/Hahu_logo2_dark_gxlnxi.png"
            alt="hahujobsLogo"
          />
        </div>
        <p
          class="mt-12 3xl:mt-20 w-full text-base 3xl:text-lg font-normal leading-8 dark:text-HahuGray/4"
        >
          Hey there, ሰላም ነው? Welcome to HaHuJobs the largest data-driven job
          matching and labor market information platform in Ethiopia. With
          various service deployments to address the Ethiopian labor market
          needs; we stand at the forefront of the local digital job matching
          industry.
        </p>
        <div class="mt-5 md:mt-14 3xl:20 flex">
          <a href="#services" class="group">
            <button
              class="flex items-center self-center rounded-md bg-primary py-3 px-5 text-white"
            >
              Our Services
              <span class="pl-3">
                <ArrowNarrowRightIcon
                  class="h-5 w-5 duration-200 group-hover:translate-x-1"
                />
              </span>
            </button>
          </a>
        </div>
      </div>
      <div class="flex-1 hidden md:block 4xl:w-full">
        <img
          width="816"
          height="400"
          class="overflow-hidden object-contain md:mb-32 lg:mb-10 lg:flex-1 w-[816px] h-[400px]"
          src="https://res.cloudinary.com/hahu-io/image/upload/v1660721916/hahuIO/images/landing/landing_page_dark_f4eacx.png"
          alt="hahuWelcomeSvg"
        />
      </div>
    </section>
    <main>
      <VisitorAbout />
      <VisitorServices />
      <VisitorProjects />
      <VisitorBlogpost />
      <VisitorReportspost />
    </main>
    <VisitorTeam />
    <VisitorContact />
  </div>
</template>

<style lang="scss" scoped></style>
