<script setup></script>

<template>
<div class="w-full flex justify-center">
  <div class="mt-7 w-10/12 shadow-full flex justify-center">
    <div class="px-10 pt-10 pb-10 flex flex-col gap-y-5 font-light dark:text-white">
      <h1 class="text-4xl lg:text-5xl font-bold">Privacy Policy</h1>
      <h2 class="text-4xl font-light">Effective date: April 10, 2019</h2>
      <p class="indent-5">
        HahuJobs ("us", "we", or "our") operates the
        <NuxtLink to="https://hahujobs.io" class="text-primary">https://hahujobs.io</NuxtLink>
        website (the "Service").
      </p>
      <p class="indent-5">
        This page informs you of our policies regarding the collection, use, and
        disclosure of personal data when you use our Service and the choices you
        have associated with that data.
      </p>
      <p class="indent-5">
        We use your data to provide and improve the Service. By using the
        Service, you agree to the collection and use of information in
        accordance with this policy. Unless otherwise defined in this Privacy
        Policy, terms used in this Privacy Policy have the same meanings as in
        our Terms and Conditions, accessible from
        <NuxtLink to="https://hahujobs.io" class="text-primary">https://hahujobs.io</NuxtLink>
      </p>
      <h3 class="text-2xl font-semibold">Information Collection And Use</h3>
      <p class="indent-5">
        We collect several different types of information for various purposes
        to provide and improve our Service to you. Types of Data Collected
        Personal Data
      </p>
      <p class="indent-5">
        While using our Service, we may ask you to provide us with certain
        personally identifiable information that can be used to contact or
        identify you ("Personal Data"). Personally identifiable information may
        include, but is not limited to:
      </p>

      <ol class="list-decimal ml-10">
        <li>Email address</li>
        <li>First name and last name</li>
        <li>Phone number</li>
        <li>Cookies and Usage Data</li>
      </ol>
      <h3 class="text-2xl font-semibold">Usage Data</h3>
      <p class="indent-5">
        We may also collect information how the Service is accessed and used
        ("Usage Data"). This Usage Data may include information such as your
        computer's Internet Protocol address (e.g. IP address), browser type,
        browser version, the pages of our Service that you visit, the time and
        date of your visit, the time spent on those pages, unique device
        identifiers and other diagnostic data.
      </p>
      <h3 class="text-2xl font-semibold">Tracking & Cookies Data</h3>
      <p class="indent-5">
        We use cookies and similar tracking technologies to track the activity
        on our Service and hold certain information.
      </p>
      <p class="indent-5">
        Cookies are files with small amount of data which may include an
        anonymous unique identifier. Cookies are sent to your browser from a
        website and stored on your device. Tracking technologies also used are
        beacons, tags, and scripts to collect and track information and to
        improve and analyze our Service.
      </p>
      <p class="indent-5">
        You can instruct your browser to refuse all cookies or to indicate when
        a cookie is being sent. However, if you do not accept cookies, you may
        not be able to use some portions of our Service.
      </p>
      <h3 class="text-2xl font-semibold">Cookies and Web Beacons</h3>
      <p class="indent-5">
        We do use cookies to store information, such as your personal
        preferences when you visit our site. This could include only showing you
        a popup once in your visit, or the ability to login to some of our
        features, such as forums.
      </p>
      <p class="indent-5">
        We also use third party advertisements on allaboutethio.com to support
        our site. Some of these advertisers may use technology such as cookies
        and web beacons when they advertise on our site, which will also send
        these advertisers (such as Google through the Google Adsense program)
        information including your IP address, your ISP, the browser you used to
        visit our site, and in some cases, whether you have Flash installed.
        This is generally used for geotargeting purposes (showing Virginia real
        estate ads to someone in Virginia, for example) or showing certain ads
        based on specific sites visited (such as showing fishing ads to someone
        who frequents fishing sites).
      </p>

      <p>
        You can choose to disable or selectively turn off our cookies or
        third-party cookies in your browser settings, or by managing preferences
        in programs such as Norton Internet Security. However, this can affect
        how you are able to interact with our site as well as other websites.
        This could include the inability to login to services or programs, such
        as logging into forums or accounts.
      </p>
      <p class="indent-5">Examples of Cookies we use:</p>
      <ol class="list-decimal ml-10">
        <li>
          <p class="flex">
            <span class="font-semibold">Preference Cookies.</span>
            &nbsp; We use Preference Cookies to remember your preferences and
            various settings.
          </p>
        </li>
        <li>
          <p class="flex">
            <span class="font-semibold">Security Cookies.</span>
            &nbsp;We use Security Cookies for security purposes.
          </p>
        </li>
      </ol>
      <h3 class="text-2xl font-semibold">Use of Data</h3>
      <p>HahuJobs uses the collected data for various purposes:</p>
      <ol class="list-decimal ml-10 space-y-2">
        <li>To provide and maintain the Service</li>
        <li>To notify you about changes to our Service</li>
        <li>
          To allow you to participate in interactive features of our Service
          when you choose to do so
        </li>
        <li>To provide customer care and support</li>
        <li>
          To provide analysis or valuable information so that we can improve the
          Service
        </li>
        <li>To monitor the usage of the Service</li>
        <li>To detect, prevent and address technical issues</li>
      </ol>
      <h3 class="text-2xl font-semibold">Transfer Of Data</h3>
      <p class="indent-5">
        Your information, including Personal Data, may be transferred to - and
        maintained on - computers located outside of your state, province,
        country or other governmental jurisdiction where the data protection
        laws may differ than those from your jurisdiction.
        <p class="indent-5">If you are located outside Germany and choose to provide information to
        us, please note that we transfer the data, including Personal Data, to
        Germany and process it there.</p>
        <p class="indent-5">
            Your consent to this Privacy Policy followed by your submission of such
        information represents your agreement to that transfer.
        </p>
        <p class="indent-5">
            HahuJobs will take all steps reasonably necessary to ensure that your data
        is treated securely and in accordance with this Privacy Policy and no
        transfer of your Personal Data will take place to an organization or a
        country unless there are adequate controls in place including the
        security of your data and other personal information.
        </p>
      </p>
      <h3 class="text-2xl font-semibold">Disclosure Of Data</h3>
      <h4>Legal Requirements</h4>
      <p class="ml-5">
        HahuJobs may disclose your Personal Data in the good faith belief that such
        action is necessary to:
      </p>
      <ol class="ml-10 list-decimal space-y-2">
        <li>To comply with a legal obligation</li>
        <li>To protect and defend the rights or property of HahuJobs</li>
        <li>
          To prevent or investigate possible wrongdoing in connection with the
          Service>
        </li>
        <li>
          To protect the personal safety of users of the Service or the public
        </li>
        <li>To protect against legal liability</li>
      </ol>
      <h3 class="text-2xl font-semibold">Security Of Data</h3>
      <p class="indent-5">
        The security of your data is important to us, but remember that no
        method of transmission over the Internet, or method of electronic
        storage is 100% secure. While we strive to use commercially acceptable
        means to protect your Personal Data, we cannot guarantee its absolute
        security.
      </p>
      <h4 class="text-xl font-medium">Service Providers</h4>
      <p class="indent-5">
        We may employ third party companies and individuals to facilitate our
        Service ("Service Providers"), to provide the Service on our behalf, to
        perform Service-related services or to assist us in analyzing how our
        Service is used.
        </p>
        <p class="indent-5">
        These third parties have access to your Personal Data only to perform
        these tasks on our behalf and are obligated not to disclose or use it
        for any other purpose.
      </p>
      <h4 class="text-xl font-medium">Analytics</h4>
      <p class="ml-5">
        We may use third-party Service Providers to monitor and analyze the use
        of our Service.
      </p>
      <ol class="list-decimal ml-10">
        <li class="space-y-4">
          <h4 class="font-bold">Google Analytics</h4>
          <p class="indent-5">
            Google Analytics is a web analytics service offered by Google that
            tracks and reports website traffic. Google uses the data collected
            to track and monitor the use of our Service. This data is shared
            with other Google services. Google may use the collected data to
            contextualize and personalize the ads of its own advertising
            network.
            </p>
            
           <p class="indent-5">
             You can opt-out of having made your activity on the Service
            available to Google Analytics by installing the Google Analytics
            opt-out browser add-on. The add-on prevents the Google Analytics
            JavaScript (ga.js, analytics.js, and dc.js) from sharing information
            with Google Analytics about visits activity.
           </p>
           <p class="indent-5">For more information on the privacy practices of Google, please
            visit the Google Privacy & Terms web page:
            <NuxtLink
              class="text-primary"
              to="https://policies.google.com/privacy?hl=en"
            >
              https://policies.google.com/privacy?hl=en</NuxtLink
            >
          </p>
        </li>
      </ol>
      <h4 class="text-xl font-medium">Links To Other Sites</h4>
      <p class="indent-5">
        Our Service may contain links to other sites that are not operated by
        us. If you click on a third party link, you will be directed to that
        third party's site. We strongly advise you to review the Privacy Policy
        of every site you visit.
        </p>
        <p class="indent-5">
            We have no control over and assume no responsibility for the content,
            privacy policies or practices of any third party sites or services.
        </p>
  
      <h4 class="text-xl font-medium">Children's Privacy</h4>
      <p class="indent-5">
        Our Service does not address anyone under the age of 18 ("Children").
      </p>
      <p class="indent-5">
        We do not knowingly collect personally identifiable information from
        anyone under the age of 18. If you are a parent or guardian and you are
        aware that your Children has provided us with Personal Data, please
        contact us. If we become aware that we have collected Personal Data from
        children without verification of parental consent, we take steps to
        remove that information from our servers.
      </p>
      <h3 class="text-2xl font-semibold">Changes To This Privacy Policy</h3>
      <p class="indent-5">
        We may update our Privacy Policy from time to time. We will notify you
        of any changes by posting the new Privacy Policy on this page.
      </p>
      <p class="indent-5">
        We will let you know via email and/or a prominent notice on our Service,
        prior to the change becoming effective and update the "effective date"
        at the top of this Privacy Policy.
      </p>
      <p class="indent-5">
        You are advised to review this Privacy Policy periodically for any
        changes. Changes to this Privacy Policy are effective when they are
        posted on this page.
      </p>
      <h3 class="text-2xl font-semibold">Contact Us</h3>
      <p class="indent-5">
        If you have any questions about this Privacy Policy, please contact us
        at
        <NuxtLink class="text-primary" href="mailto:info@hahu.jobs"
          >info@hahu.jobs</NuxtLink
        >
      </p>
    </div>
  </div>
</div>
</template>
