<script setup>
import readmore from "@/assets/svg/readmore.svg?url";
import {
  TransitionRoot,
  TransitionChild,
  Dialog,
  DialogPanel,
  DialogTitle,
} from "@headlessui/vue";
import {
  ArrowNarrowLeftIcon,
  ChevronDoubleDownIcon,
  ChevronDoubleUpIcon,
} from "@heroicons/vue/solid";
import { teamDetail } from "@/data/data.json";

const { founders, advisors, management, hqOperation } = teamDetail;
const show = ref(false);
const currentLink = ref("");
const popval = ref();
const isOpen = ref(false);

onMounted(() => {
  currentLink.value = window.location.href;
});

function closeModal() {
  isOpen.value = false;
}
function openModal() {
  isOpen.value = true;
}
</script>

<template>
  <div class="min-h-screen px-8 md:px-12 xl:px-14 2xl:px-24">
    <Head>
      <Title>HahuJobs</Title>
      <Meta
        data-n-head="ssr"
        name="viewport"
        content="width=device-width, initial-scale=1"
      />
      <Meta
        data-n-head="ssr"
        data-hid="og:title"
        property="og:title"
        content="HahuJobs Team"
      />
      <Meta
        data-n-head="ssr"
        data-hid="og:description"
        property="og:description"
        content="Here are some of our core management team members"
      />
      <Meta
        data-n-head="ssr"
        data-hid="description"
        property="description"
        content="Here are some of our core management team members"
      />
      <Meta
        data-n-head="ssr"
        data-hid="og:url"
        property="og:url"
        :content="currentLink"
      />
      <Meta
        data-n-head="ssr"
        data-hid="og:type"
        property="og:type"
        content="website"
      />

      <Meta
        data-n-head="ssr"
        data-hid="twitter:card"
        property="twitter:card"
        content="summary_large_image"
      />
      <Meta
        data-n-head="ssr"
        data-hid="twitter:domain"
        property="twitter:domain"
        content="hahu.vercel.app"
      />
      <Meta
        data-n-head="ssr"
        data-hid="twitter:url"
        property="twitter:url"
        :content="currentLink"
      />
      <Meta
        data-n-head="ssr"
        data-hid="twitter:title"
        property="twitter:title"
        content="HahuJobs Team"
      />
      <Meta
        data-n-head="ssr"
        data-hid="twitter:description"
        property="twitter:description"
        content="Here are some of our core management team"
      />
    </Head>
    <section class="flex flex-col overflow-hidden" id="team">
      <a
        href="/"
        class="flex self-end text-white group cursor-pointer dark:border-DarkModeBg dark:hover:border-primary-lite hover:border-primary-lite border-2 rounded-lg px-3 py-1 dark:text-white bg-primary duration-300"
      >
        <ArrowNarrowLeftIcon
          class="self-center w-5 text-HahuGray/4 mr-3 group-hover:-translate-x-2 duration-300"
        />
        Back
      </a>
      <div class="flex flex-col items-center">
        <h2
          show="true"
          class="mt-5 self-center text-lg font-medium leading-[18px] dark:text-white lg:mt-[90px]"
        >
          Meet the Team
        </h2>
        <h2
          show="true"
          class="mt-[34px] self-center rounded-[36px] bg-primary-lite px-3 py-2 text-center text-base font-black leading-5 text-white xs:px-8 xs:text-lg lg:px-4 3xl:px-8 lg:py-2 3xl:py-2 lg:text-2xl 3xl:text-3xl"
        >
          Here are the people behind the magic
        </h2>
      </div>
      <div id="founders"></div>
      <div class="flex justify-around mt-20">
        <h1 class="text-3xl text-primary rounded-full px-3 font-bold">
          Founders
        </h1>
      </div>
      <div
        class="mt-11 flex flex-wrap items-center justify-center gap-x-2 gap-y-6 md:gap-x-4 lg:gap-x-6 lg:gap-y-6 4xl:gap-x-16 4xl:gap-y-16"
      >
        <div
          v-for="(person, i) in founders"
          class="self-center rounded-md bg-white hover:shadow-full overflow-hidden dark:bg-HahuGray1"
        >
          <div class="relative mt-5 flex flex-row justify-center">
            <div>
              <nuxt-img
                format="webp"
                width="144"
                height="144"
                class="w-36 self-center rounded-full h-36"
                :src="person.img"
                alt="team"
              />
            </div>
            <img
              :src="person.icon"
              class="absolute top-[-5px] right-5 w-6"
              alt="personIcon"
            />
          </div>
          <h2
            class="mt-1 items-center text-center text-2xl font-black leading-[38px] dark:text-HahuGray/4"
          >
            {{ person.name }}
          </h2>
          <h2
            class="mt-2 text-center text-lg font-medium leading-7 text-primary"
          >
            {{ person.pos }}
          </h2>
          <p
            class="mx-8 mt-6 mb-20 max-w-[260px] 3xl:max-w-[295px] text-center text-base font-medium leading-6 dark:text-HahuGray3 line-clamp-6 hover:line-clamp-none"
          >
            {{ person.prov }}
          </p>
        </div>
      </div>
      <div id="advisors">
        <div class="flex justify-around mt-20">
          <h1 class="text-3xl text-primary rounded-full px-3 font-bold">
            Technical Advisors
          </h1>
        </div>
      </div>
      <div
        class="mt-11 flex flex-wrap 2xl:flex-nowrap items-center justify-center gap-x-2 gap-y-6 md:gap-x-4 lg:gap-x-6 lg:gap-y-6 4xl:gap-x-16 4xl:gap-y-16"
      >
        <div
          v-for="(person, i) in advisors"
          class="self-center rounded-md bg-white hover:shadow-full overflow-hidden dark:bg-HahuGray1"
        >
          <div class="relative mt-5 flex flex-row justify-center">
            <div class="">
              <nuxt-img
                format="webp"
                width="144"
                height="144"
                class="self-center w-36 rounded-full"
                :src="person.img"
                alt="team"
              />
            </div>
            <img
              :src="person.icon"
              class="absolute text-primary top-[-5px] right-5 w-7"
              alt="personIcon"
            />
          </div>
          <h2
            class="mt-1 items-center text-center text-2xl font-black leading-[38px] dark:text-HahuGray/4"
          >
            {{ person.name }}
          </h2>
          <h2
            class="mt-2 text-center text-lg font-medium leading-7 text-primary"
          >
            {{ person.pos }}
          </h2>
          <p
            class="mx-8 mb-7 mt-6 max-w-[260px] 3xl:max-w-[295px] text-justify text-base font-medium leading-6 dark:text-HahuGray3 line-clamp-10 duration-700"
          >
            {{ person.prov }}
          </p>
          <div class="w-full flex justify-end pr-8">
            <button
              class="group mb-10 px-4 py-2 flex items-center rounded-md bg-primary text-base text-white duration-300"
              @click="
                openModal();
                popval = i;
              "
            >
              <span class="flex gap-x-2"
                >Read More
                <img
                  :src="readmore"
                  class="scale-0 group-hover:scale-100 duration-300"
                />
              </span>
            </button>
          </div>
        </div>
      </div>

      <div class="flex justify-around mt-20">
        <h1 class="text-3xl text-primary rounded-full px-3 font-bold">
          Management
        </h1>
      </div>
      <div
        class="mt-11 flex flex-wrap items-center justify-center gap-x-2 gap-y-6 md:gap-x-4 lg:gap-x-6 lg:gap-y-6 4xl:gap-x-16 4xl:gap-y-16"
      >
        <div
          v-for="(person, i) in management"
          class="group rounded-md bg-white hover:shadow-full overflow-hidden dark:bg-HahuGray1 mb-2"
        >
          <div class="relative mt-5 flex flex-row justify-center">
            <div>
              <nuxt-img
                format="webp"
                width="144"
                height="144"
                class="w-36 self-center rounded-full"
                :src="person.img"
                alt="management team"
              />
            </div>
            <img
              :src="person.icon"
              class="absolute top-[-5px] right-5 w-6"
              alt="personIcon"
            />
          </div>
          <h2
            class="mt-1 items-center text-center text-2xl font-black leading-[38px] dark:text-HahuGray/4"
          >
            {{ person.name }}
          </h2>
          <h2
            class="mt-2 text-center text-lg font-medium leading-7 text-primary"
          >
            {{ person.pos }}
          </h2>
          <p
            class="mx-8 mt-6 mb-20 max-w-[240px] 3xl:max-w-[295px] text-center text-base font-medium leading-6 dark:text-HahuGray3 line-clamp-4 hover:line-clamp-none"
          >
            {{ person.prov }}
          </p>
        </div>
      </div>

      <div class="flex justify-around mt-20">
        <h1 class="text-3xl text-primary rounded-full px-3 font-bold">
          HQ Operations Team
        </h1>
      </div>

      <div
        class="mt-11 flex flex-wrap items-center justify-center gap-x-2 gap-y-6 md:gap-x-4 lg:gap-x-6 lg:gap-y-6 4xl:gap-x-16 4xl:gap-y-16"
      >
        <div
          v-for="(person, i) in hqOperation"
          class="group rounded-md bg-white hover:shadow-full overflow-hidden dark:bg-HahuGray1 mb-2"
        >
          <div class="relative mt-5 flex flex-row justify-center">
            <div>
              <nuxt-img
                format="webp"
                width="144"
                height="144"
                class="w-36 self-center rounded-full"
                :src="person.img"
                alt="management team"
              />
            </div>
            <img
              :src="person.icon"
              class="absolute top-[-5px] right-5 w-6"
              alt="personIcon"
            />
          </div>
          <h2
            class="mt-1 items-center text-center text-2xl font-black leading-[38px] dark:text-HahuGray/4"
          >
            {{ person.name }}
          </h2>
          <h2
            class="mt-2 text-center text-lg font-medium leading-7 text-primary"
          >
            {{ person.pos }}
          </h2>
          <p
            class="mx-8 mt-6 mb-20 max-w-[240px] 3xl:max-w-[295px] text-center text-base font-medium leading-6 dark:text-HahuGray3 line-clamp-4 group-hover:line-clamp-none"
          >
            {{ person.prov }}
          </p>
        </div>
      </div>
    </section>
    <TransitionRoot appear :show="isOpen" as="template">
      <Dialog as="div" @close="closeModal" class="relative z-50">
        <TransitionChild
          as="template"
          enter="duration-300 ease-out"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="duration-200 ease-in"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <div class="fixed inset-0 bg-black bg-opacity-25" />
        </TransitionChild>

        <div class="fixed inset-0 overflow-y-auto">
          <div
            class="flex min-h-full items-center justify-center p-4 text-center"
          >
            <TransitionChild
              as="template"
              enter="duration-300 ease-out"
              enter-from="opacity-0 scale-95"
              enter-to="opacity-100 scale-100"
              leave="duration-200 ease-in"
              leave-from="opacity-100 scale-100"
              leave-to="opacity-0 scale-95"
            >
              <DialogPanel
                class="w-full max-w-md transform overflow-hidden rounded-2xl bg-secondary-3 dark:bg-LightDark p-4 text-left align-middle shadow-xl transition-all"
              >
                <DialogTitle
                  as="h3"
                  class="text-lg font-medium leading-6 text-gray-900"
                >
                </DialogTitle>
                <div
                  class="mt-2 flex flex-col items-center rounded-[15px] bg-secondary-3 p-2 dark:bg-LightDark xl:last:col-span-3 2xl:last:col-span-1 2xl:last:max-w-none xl:last:max-w-[25vw]"
                >
                  <div class="relative mt-5 flex flex-row justify-center">
                    <div class="">
                      <nuxt-img
                        format="webp"
                        width="144"
                        height="144"
                        class="self-center w-36 rounded-full"
                        :src="advisors[popval].img"
                        alt="team"
                      />
                    </div>
                  </div>
                  <h2
                    class="mt-1 items-center text-center text-2xl font-black leading-[38px] dark:text-HahuGray/4"
                  >
                    {{ advisors[popval].name }}
                  </h2>
                  <h2
                    class="mt-2 text-center text-lg font-medium leading-7 text-primary"
                  >
                    {{ advisors[popval].pos }}
                  </h2>
                  <p
                    class="mx-2 mb-7 mt-6 text-justify text-base font-medium leading-6 dark:text-HahuGray3 line-clamp-10 duration-700"
                  >
                    {{ advisors[popval].prov }}
                  </p>
                  <button
                    type="button"
                    class="justify-end rounded-md bg-primary px-4 py-2 text-sm font-medium text-white hover:bg-primary-dark"
                    @click="closeModal"
                  >
                    Got it, thanks!
                  </button>
                </div>
              </DialogPanel>
            </TransitionChild>
          </div>
        </div>
      </Dialog>
    </TransitionRoot>
  </div>
</template>

<style scoped></style>
