<template>
  <div>
    <div
      class="mt-10 pb-10 lg:pb-0 flex flex-col flex-wrap items-center justify-between space-y-10 bg-white px-8 duration-500 ease-in dark:bg-DarkModeBg md:px-[50px] lg:mb-0 lg:flex-row xl:px-[100px]"
    >
      <div class="flex flex-col">
        <h1 class="mt-[27px] dark:text-HahuGray/4">Powered by</h1>
        <nuxt-img
          format="webp"
          width="162"
          height="29"
          provider="cloudinary"
          src="/images/footer/Hahu_footer_logo1_yfcodp.png"
          class="mt-[13px] object-contain dark:hidden"
          alt="hahuLogoFooterIcon"
        />
        <nuxt-img
          fomrat="webp"
          width="162"
          height="29"
          provider="cloudinary"
          src="/images/footer/Hahu_footer_logo1_dark_g1pyth.png"
          class="mt-[13px] hidden object-contain dark:block"
          alt="hahuLogoFooterIcon"
        />

        <nuxt-img
          format="webp"
          width="162"
          height="24"
          provider="cloudinary"
          src="/images/footer/Hahu_footer_logo2_q0irql.png"
          class="mt-[9px] mb-[41px] object-contain dark:hidden"
          alt="hahuLogoFooterIcon"
        />
        <nuxt-img
          format="webp"
          width="162"
          height="24"
          provider="cloudinary"
          src="/images/footer/Hahu_footer_logo2_dark_ibrj3q.png"
          class="mt-[9px] mb-[41px] hidden object-contain dark:block"
          alt="hahuLogoFooterIcon"
        />
      </div>
      <div
        class="flex items-center flex-col lg:mr-20 space-y-10 lg:flex-row lg:space-x-16 lg:space-y-0 xl:space-x-[85px]"
      >
        <a
          href="/#services"
          class="transform-gpu text-xl font-medium leading-[30px] text-gray-500 duration-200 hover:rotate-12 hover:text-black dark:text-HahuGray/4"
        >
          Services</a
        >
        <a
          href="/#about"
          class="transform-gpu text-xl font-medium leading-[30px] text-gray-500 duration-200 hover:rotate-12 hover:text-black dark:text-HahuGray/4"
        >
          About Us</a
        >
        <a
          href="/#contact"
          class="transform-gpu text-xl font-medium leading-[30px] text-gray-500 duration-200 hover:rotate-12 hover:text-black dark:text-HahuGray/4"
        >
          Contact Us</a
        >
        <a
          href="/privacy"
          class="transform-gpu text-xl font-medium leading-[30px] text-gray-500 duration-200 hover:rotate-12 hover:text-black dark:text-HahuGray/4"
        >
          Privacy</a
        >
      </div>
    </div>
    <hr class="border-1 w-full border-gray-100" />
    <div
      class="flex pb-5 py-4 flex-col items-center justify-end space-y-10 bg-white px-8 duration-500 ease-in dark:bg-DarkModeBg md:px-[50px] lg:mb-0 lg:flex-row lg:justify-between lg:space-y-0 xl:px-[100px]"
    >
      <h1 class="text-base font-medium leading-6 text-gray-400">
        © 2022 HaHuJobs. All rights reserved.
      </h1>
      <div class="md:ml-10 flex space-x-7 lg:mr-20">
        <a
          href="https://www.facebook.com/Hahujobs"
          target="_blank"
          class="text-transparent"
        >
          <Facebook alt="facebookIcon" />
          f
        </a>
        <a
          href="https://twitter.com/hahujobs"
          target="_blank"
          class="text-transparent"
        >
          <!-- <img class="object-contain" :src="Twitter" alt="TwitterIcon" /> -->
          <Twitter alt="TwitterIcon" />t
        </a>
        <a
          href="https://www.linkedin.com/company/hahujobs/"
          target="_blank"
          class="text-transparent"
        >
          <LinkedIn alt="LinkedInIcon" />l
        </a>
      </div>
    </div>
  </div>
</template>

<script setup>
import Facebook from "@/assets/svg/Facebookfooter.svg";
import Twitter from "@/assets/svg/Twitterfooter.svg";
import LinkedIn from "@/assets/svg/LinkedInFooter.svg";
</script>

<style scoped></style>
