<script setup>
import Facebook from "@/assets/svg/facebookShare.svg?url";
import Insta from "@/assets/svg/instaShare.svg?url";
import Twitter from "@/assets/svg/twitterShare.svg?url";
import Telegram from "@/assets/svg/telegramShare.svg?url";
import CopyLinkIco from "@/assets/svg/copyLinkIcon.svg?url";
import {
  ArrowNarrowRightIcon,
  ArrowNarrowLeftIcon,
  ArrowNarrowDownIcon,
} from "@heroicons/vue/solid";
import { blogs } from "@/data/data.json";

const router = useRoute();
const crumb = [
  { id: 1, name: "Blog", link: "/blogs", hash: "", current: false },
  { id: 2, name: "Blog Detail", link: "/", hash: "", current: true },
];

const filteredBlog = ref(blogs.find((el) => el.id == router.params.blog));

const copyLink = ref("");
onMounted(() => {
  copyLink.value = window.location.href;
});
const copyLinkFunc = () => {
  let copyText = document.getElementById("myLink");

  copyText.select();

  copyText.setSelectionRange(0, 99999);

  navigator.clipboard.writeText(copyText.value);
};
</script>

<template>
  <div>
    <Head>
      <Title>{{ filteredBlog.title }}</Title>
      <Meta
        data-n-head="ssr"
        name="viewport"
        content="width=device-width, initial-scale=1"
      />
      <Meta
        data-n-head="ssr"
        data-hid="og:title"
        property="og:title"
        :content="filteredBlog.title"
      />
      <Meta
        data-n-head="ssr"
        data-hid="og:description"
        property="og:description"
        :content="filteredBlog.p1"
      />
      <Meta
        data-n-head="ssr"
        data-hid="description"
        name="description"
        :content="filteredBlog.p1"
      />
      <Meta
        data-n-head="ssr"
        data-hid="og:url"
        property="og:url"
        :content="copyLink"
      />
      <Meta data-n-head="ssr" property="og:type" content="website" />
      <Meta data-n-head="ssr" property="og:image" :content="filteredBlog.img" />
      <Meta
        data-n-head="ssr"
        property="twitter:card"
        content="summary_large_image"
      />
      <Meta data-n-head="ssr" property="twitter:domain" content="hahu io" />
      <Meta property="twitter:url" :content="copyLink" />
      <Meta
        data-n-head="ssr"
        data-hid="twitter:site"
        name="twitter:site"
        :content="copyLink"
      />
      <Meta
        data-n-head="ssr"
        data-hid="twitter:title"
        name="twitter:title"
        property="twitter:title"
        :content="filteredBlog.title"
      />
      <Meta
        data-n-head="ssr"
        name="twitter:description"
        property="twitter:description"
        data-hid="twitter:description"
        :content="filteredBlog.p1"
      />

      <Meta
        data-n-head="ssr"
        property="twitter:image"
        :content="filteredBlog.img"
      />
    </Head>

    <div class="flex min-h-screen justify-center md:px-11 xl:px-10">
      <section
        class="mt-3 flex w-11/12 xs:w-9/12 flex-col rounded-xl bg-white dark:bg-HahuGray1 px-4 xs:px-10 sm:px-10 md:px-20 xl:px-20 2xl:px-20"
      >
        <div
          class="relative mb-10 mt-6 flex flex-wrap flex-col xs:flex-row justify-start xs:justify-between items-end xs:items-center font-bold"
        >
          <Contained :crumb="crumb" class="self-start" />
          <div class="flex">
            <a
              class="mt-[38px] sm:mt-0 flex self-start sm:self-end"
              href="/blogs"
            >
              <button
                class="group flex items-center justify-end self-end rounded-md bg-primary px-2 py-1 text-base font-medium leading-6 text-white lg:px-3 lg:py-2"
              >
                <ArrowNarrowLeftIcon
                  class="mr-[9px] inline-block h-5 w-5 text-white duration-300 group-hover:-translate-x-1"
                />Back
              </button>
            </a>
          </div>
        </div>
        <h1
          class="mt-10 text-2xl font-bold leading-[60px] text-HahuGray1 dark:text-HahuGray/4 xl:text-3xl"
        >
          {{ filteredBlog.title }}
        </h1>
        <div class="mt-6 flex items-center gap-14">
          <h1
            class="rounded-full bg-primary-lite px-3 py-[5px] text-xs font-medium leading-[18px] text-primary"
          >
            {{ filteredBlog.cat }}
          </h1>
          <p class="text-base font-medium leading-6 text-primary">
            {{ filteredBlog.date }}
          </p>
        </div>

        <p
          class="mt-[40px] text-base font-normal leading-[30px] text-HahuGray2 dark:text-HahuGray/4 md:text-lg"
        >
          {{ filteredBlog.p1 }}
          <span
            v-if="filteredBlog.p1n"
            class="text-base font-normal leading-[30px] text-HahuGray2 dark:text-HahuGray/4 md:text-lg"
          >
            <a :href="filteredBlog.linkaddress" class="text-primary">{{
              filteredBlog.linkdata
            }}</a
            >{{ filteredBlog.p1n }}
          </span>
        </p>
        <img
          class="mt-10 mb-10 md:mt-20 rounded-2xl"
          :src="filteredBlog.img"
          alt="blogImg"
        />
        <h2 v-if="filteredBlog.h2" class="font-bold">{{ filteredBlog.h2 }}</h2>
        <p
          v-if="filteredBlog.p2"
          class="mt-10 text-base font-normal leading-[30px] text-HahuGray1 dark:text-HahuGray/4 md:text-lg"
        >
          {{ filteredBlog.p2 }}
        </p>
        <img
          v-if="filteredBlog.img2"
          class="mt-10 md:mt-20 rounded-2xl"
          :src="filteredBlog.img2"
          alt="blogImg"
        />
        <br />
        <p
          v-if="filteredBlog.p3"
          class="text-base font-normal leading-[30px] text-HahuGray1 dark:text-HahuGray/4 md:text-lg"
        >
          {{ filteredBlog.p3 }}
        </p>
        <br />
        <p
          v-if="filteredBlog.p4"
          class="text-base font-normal leading-[30px] text-HahuGray1 dark:text-HahuGray/4 md:text-lg"
        >
          {{ filteredBlog.p4 }}
        </p>

        <ul>
          <li v-if="filteredBlog.l1">{{ filteredBlog.l1 }}</li>
          <li v-if="filteredBlog.l2">
            {{ filteredBlog.l2 }}
            <a
              v-if="filteredBlog.mail"
              class="text-primary"
              :href="`mailto:${filteredBlog.mail}`"
              >{{ filteredBlog.mail }}</a
            >
          </li>
          <li v-if="filteredBlog.l3">
            {{ filteredBlog.l3 }}
            <a
              v-if="filteredBlog.link"
              target="_blank"
              class="text-primary"
              :href="filteredBlog.link"
              >{{ filteredBlog.linkTitle }}</a
            >
          </li>
          <li v-if="filteredBlog.l4">{{ filteredBlog.l4 }}</li>
        </ul>

        <div class="mt-10 mb-16 flex flex-wrap justify-center gap-2 xl:mt-20">
          <button
            class="flex items-center rounded-md border-2 border-gray-300 bg-white duration-500 ease-in dark:bg-HahuGray/4 sm:mr-[102px]"
            @click="copyLinkFunc()"
          >
            <input class="hidden" id="myLink" v-model="copyLink" />
            <img
              class="object-contain pl-4"
              :src="CopyLinkIco"
              alt="CopyLinkIco"
            />
            <span class="py-2 pr-4 pl-[7px]">Copy Link</span>
          </button>
          <div class="flex gap-2">
            <a
              :href="`http://www.facebook.com/sharer/sharer.php?u=${copyLink}&t=${filteredBlog.title}`"
              target="_blank"
              class="share-popup rounded-md border-2 border-gray-300 bg-white duration-500 ease-in dark:bg-HahuGray/4"
            >
              <img
                class="object-contain px-[13px] py-[9px]"
                :src="Facebook"
                alt="facebook"
              />
            </a>
            <button
              class="rounded-md border-2 border-gray-300 bg-white duration-500 ease-in dark:bg-HahuGray/4"
            >
              <img
                class="object-contain px-[13px] py-[9px]"
                :src="Insta"
                alt="instagram"
              />
            </button>
            <a
              :href="`http://twitter.com/share?text=${filteredBlog.title}&url=${copyLink}&hashtags=HahuJobs,Minab_ICT_Solutions`"
              target="_blank"
              class="rounded-md border-2 border-gray-300 bg-white duration-500 ease-in dark:bg-HahuGray/4"
            >
              <img
                class="object-contain px-[13px] py-[9px]"
                :src="Twitter"
                alt="twitter"
              />
            </a>
            <a
              :href="`https://t.me/share/url?url=${copyLink}&text=${filteredBlog.title}`"
              target="_blank"
              class="rounded-md border-2 border-gray-300 bg-white duration-500 ease-in dark:bg-HahuGray/4"
            >
              <img
                class="object-contain px-[13px] py-[9px]"
                :src="Telegram"
                alt="telegram"
              />
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<style scoped></style>
