<script setup>
import { ArrowNarrowRightIcon } from "@heroicons/vue/solid";
import readmore from "@/assets/svg/readmore.svg?url";

const blogs = [
  {
    id: 11,
    img: "/images/blogs/photo_2022-09-02_17-00-01_or5sdz.jpg",
    catg: "TECHNOLOGY",
    date: "1 September 2022",
    title:
      "Local scholarship for post-graduate students in Ethiopia with excellent performance in academic studies and society!",
    link: "blogs-id-blogDetail",
  },
  {
    id: 10,
    img: "/images/blogs/photo_2022-08-31_10-23-43_fuc52f.jpg",
    catg: "TECHNOLOGY",
    date: "26 August 2022",
    title:
      "A Three-month Full stack development training provided by HaHuJobs to BIT students has been successfully completed!",
    link: "blogs-id-blogDetail",
  },
  {
    id: 9,
    img: "/images/blogs/telegram-link-new_gqckuq.png",
    catg: "TECHNOLOGY",
    date: "14 August 2022",
    title: "Hey, Today let's introduce you about HaHuJobs!",
    link: "blogs-id-blogDetail",
  },
];

const target = ref(null);
const observer = shallowRef();
const delay = [0, 150, 300];

onMounted(() => {
  observer.value = new IntersectionObserver((entries) => {
    entries.forEach(
      (entry) => {
        entry.target.classList.toggle(
          "lg:[&[show=true]]:opacity-100",
          entry.isIntersecting
        );
        entry.target.classList.toggle(
          "lg:[&[show=true]]:translate-y-0",
          entry.isIntersecting
        );
        entry.target.classList.toggle(
          "lg:[&[show=true]]:translate-x-0",
          entry.isIntersecting
        );
        if (entry.isIntersecting) {
          observer.value.unobserve(entry.target);
          return entry.target;
        }
      },
      {
        threshold: 0.5,
      }
    );
  });
  target.value.forEach((card) => {
    observer.value.observe(card);
  });
});

onBeforeUnmount(() => {
  observer.value.disconnect();
});
</script>

<template>
  <section v-for="i in 1" class="mt-10 flex flex-col" id="blog">
    <div class="flex flex-col items-center">
      <h1
        show="true"
        ref="target"
        class="mt-10 lg:opacity-0 lg:translate-y-20 lg:duration-1000 self-center text-lg font-medium leading-[18px] dark:text-white lg:mt-[90px]"
      >
        Blog
      </h1>
      <div
        show="true"
        ref="target"
        class="flex lg:opacity-0 lg:translate-y-20 lg:duration-1000 mt-9"
      >
        <a href="/blogs" class="self-center">
          <button
            class="gap-2 group flex items-center rounded-[36px] bg-primary-lite px-3 py-2 text-center text-base font-black leading-5 text-white duration-300 hover:translate-x-1 hover:-translate-y-1 hover:shadow-2xl active:translate-x-0 active:translate-y-0 active:shadow-none xs:px-8 xs:text-lg lg:px-5 3xl:px-8 lg:py-1 lg:text-2xl 3xl:text-3xl"
          >
            Recent Blogs
            <img
              :src="readmore"
              class="text-white h-4 3xl:h-6 xl:scale-0 group-hover:scale-100 duration-300"
              alt="button"
            />
          </button>
        </a>
      </div>
      <p
        show="true"
        ref="target"
        class="mt-[34px] lg:opacity-0 lg:translate-y-20 lg:duration-1000 max-w-[900px] text-center text-base font-light leading-[30px] dark:text-HahuGray/4 xs:text-lg"
      >
        Below are some of our updates regarding our ventures with in the labor
        market and our partners offers in regards to related endeavors
      </p>
    </div>

    <div
      class="mt-16 grid grid-cols-1 justify-items-center gap-x-5 gap-y-10 lg:grid-cols-3"
    >
      <div
        show="true"
        ref="target"
        class="flex max-w-[560px] lg:opacity-0 lg:-translate-x-40 lg:duration-500 flex-col bg-white hover:bg-transparent dark:bg-HahuGray1 dark:hover:bg-transparent rounded-b-[15px] group"
        :class="`delay-${delay[i]}`"
        v-for="(blog, i) in blogs"
        :key="i"
      >
        <a
          :href="'/blogs/' + blog.id"
          class="flex flex-col group-hover:scale-[1.01] group-active:scale-100 border-2 border-transparent bg-transparent group-hover:bg-white dark:group-hover:bg-HahuGray1 group-hover:border-primary group-active:shadow-none group-hover:shadow-xl rounded-b-[15px] duration-200"
        >
          <div>
            <nuxt-img
              format="webp"
              width="553"
              height="380"
              provider="cloudinary"
              class="object-cover"
              :src="blog.img"
              alt="blogImage"
            />
          </div>
          <h1
            class="mt-6 ml-8 self-start rounded-[36px] bg-primary-lite px-3 py-[5px] text-xs font-medium leading-[18px] text-primary-dark"
          >
            {{ blog.catg }}
          </h1>
          <h2 class="mt-4 ml-8 text-base font-medium leading-6">
            {{ blog.date }}
          </h2>
          <p
            class="mt-4 ml-8 pr-[24px] text-xl font-bold leading-[38px] dark:text-HahuGray/4 3xl:text-2xl"
          >
            {{ blog.title }}
          </p>
          <button
            class="group mt-[34px] ml-8 mb-[30px] flex items-center self-start text-lg font-medium text-primary"
          >
            Read Post
            <ArrowNarrowRightIcon
              class="ml-[9px] w-[18px] text-primary duration-200 group-hover:translate-x-1"
            />
          </button>
        </a>
      </div>
    </div>
    <a href="/blogs" class="mt-20 self-center group">
      <button
        class="gap-2 group flex items-center rounded-md bg-primary px-4 py-2 text-center text-base font-black leading-5 text-white duration-300 hover:translate-x-1 hover:-translate-y-1 hover:shadow-2xl active:translate-x-0 active:translate-y-0 active:shadow-none xs:text-lg lg:py-2"
      >
        More from Us
        <ArrowNarrowRightIcon
          class="text-white w-5 group-hover:translate-x-2 duration-200"
        />
      </button>
    </a>
  </section>
</template>

<style lang="scss" scoped></style>
