<script setup>
import { projects } from "@/data/data.json";

const target = ref(null);
const observer = shallowRef();

onMounted(() => {
  observer.value = new IntersectionObserver((entries) => {
    entries.forEach(
      (entry) => {
        entry.target.classList.toggle(
          "lg:[&[show=true]]:opacity-100",
          entry.isIntersecting
        );
        entry.target.classList.toggle(
          "lg:[&[show=true]]:translate-y-0",
          entry.isIntersecting
        );
        entry.target.classList.toggle(
          "lg:[&[show=true]]:translate-x-0",
          entry.isIntersecting
        );
        if (entry.isIntersecting) {
          observer.value.unobserve(entry.target);
          return entry.target;
        }
      },
      {
        threshold: 0.5,
      }
    );
  });
  target.value.forEach((card) => {
    observer.value.observe(card);
  });
});

onBeforeUnmount(() => {
  observer.value.disconnect();
});
</script>

<template>
  <section class="flex flex-col" id="projects">
    <div v-for="i in 1" class="flex flex-col">
      <h1
        show="true"
        ref="target"
        class="mt-10 lg:opacity-0 lg:translate-y-10 duration-1000 self-center text-lg font-medium leading-5 dark:text-white md:mt-24"
      >
        Projects
      </h1>
      <h2
        show="true"
        ref="target"
        class="mt-[34px] lg:opacity-0 lg:translate-y-10 duration-1000 self-center rounded-[36px] bg-primary-lite px-3 py-2 text-center text-base font-black leading-5 text-white xs:px-8 xs:text-lg lg:px-5 3xl:px-8 lg:py-1 lg:text-2xl 3xl:text-3xl"
      >
        Our Labor market related projects
      </h2>
    </div>

    <div class="overflow-hidden">
      <Carousel
        class="mt-20 justify-center md:mr-20 self-center"
        :cardSlider="projects"
      />
    </div>
  </section>
</template>

<style lang="scss" scoped></style>
