<script setup>
import CEO from "@/assets/svg/CEO.svg?url";
import advisor from "@/assets/svg/advisor.svg?url";
import { ArrowNarrowRightIcon } from "@heroicons/vue/solid";
import { landingTeams } from "@/data/data.json";

const { founders, advisory } = landingTeams;

const delay = [0, 75, 100, 150, 200, 300, 500, 700, 1000];
const target = ref(null);
const observer = shallowRef();

onMounted(() => {
  observer.value = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        entry.target.classList.toggle(
          "lg:[&[show=true]]:opacity-100",
          entry.isIntersecting
        );
        entry.target.classList.toggle(
          "lg:[&[show=true]]:translate-x-0",
          entry.isIntersecting
        );
        entry.target.classList.toggle(
          "lg:[&[show=true]]:translate-y-0",
          entry.isIntersecting
        );
        if (entry.isIntersecting) {
          observer.value.unobserve(entry.target);
          return entry.target;
        }
      });
    },
    {
      threshold: 0.1,
    }
  );
  target.value.forEach((selection) => {
    observer.value.observe(selection);
  });
});
</script>

<template>
  <section class="flex flex-col overflow-hidden" id="team">
    <div class="flex flex-col items-center">
      <h2
        show="true"
        class="mt-10 self-center text-lg font-medium leading-[18px] dark:text-white lg:mt-[90px]"
      >
        Management Team
      </h2>
      <h2
        show="true"
        class="mt-9 self-center rounded-[36px] bg-primary-lite px-3 py-2 text-center text-base font-black leading-5 text-white xs:px-8 xs:text-lg lg:px-4 3xl:px-8 lg:py-2 3xl:py-2 lg:text-2xl 3xl:text-3xl"
      >
        Here are some of our core management team
      </h2>
    </div>
    <div
      class="mt-11 flex flex-wrap items-center justify-center gap-x-4 gap-y-6 md:gap-x-7 lg:gap-x-10 lg:gap-y-6 4xl:gap-x-16 4xl:gap-y-16"
    >
      <div
        v-for="(person, i) in founders"
        show="true"
        ref="target"
        class="self-center lg:duration-500 lg:opacity-0 rounded-md bg-white hover:shadow-full overflow-hidden dark:bg-HahuGray1"
        :class="`lg:delay-${delay[i]}`"
      >
        <a href="/team#founders" class="flex flex-col pb-20">
          <div class="relative mt-5 flex flex-row justify-center">
            <div>
              <img
                width="144"
                height="144"
                class="w-36 self-center rounded-full"
                :src="person.img"
                alt="team"
              />
            </div>
            <img
              :src="CEO"
              class="absolute top-[-5px] right-5 w-6"
              alt="personIcon"
            />
          </div>
          <h2
            class="mt-1 items-center text-center text-2xl font-black leading-[38px] dark:text-HahuGray/4"
          >
            {{ person.name }}
          </h2>
          <h2
            class="mt-2 text-center text-lg font-medium leading-7 text-primary"
          >
            {{ person.pos }}
          </h2>
          <p
            class="mx-8 mt-6 max-w-[260px] 3xl:max-w-[295px] text-center text-base font-medium leading-6 dark:text-HahuGray3"
          >
            {{ person.prov }}
          </p>
        </a>
      </div>
    </div>
    <div
      class="mt-11 flex flex-wrap 2xl:flex-nowrap items-center justify-center gap-x-4 gap-y-6 md:gap-x-7 lg:gap-x-10 lg:gap-y-6 4xl:gap-x-16 4xl:gap-y-16"
    >
      <div
        v-for="(person, i) in advisory"
        show="true"
        ref="target"
        class="group lg:duration-500 lg:opacity-0 rounded-md bg-white hover:shadow-full overflow-hidden dark:bg-HahuGray1 mb-2"
        :class="`lg:delay-${delay[i]}`"
      >
        <a href="/team#advisors" class="flex flex-col min-h-[460px]">
          <div class="relative mt-5 flex flex-row justify-center">
            <div>
              <img
                width="144"
                height="144"
                class="w-36 self-center rounded-full"
                :src="person.img"
                alt="team"
              />
            </div>
            <img
              :src="advisor"
              class="absolute top-[-5px] right-5 w-6"
              alt="personIcon"
            />
          </div>
          <h2
            class="mt-1 items-center text-center text-2xl font-black leading-[38px] dark:text-HahuGray/4"
          >
            {{ person.name }}
          </h2>
          <h2
            class="mt-2 text-center text-lg font-medium leading-7 text-primary"
          >
            {{ person.pos }}
          </h2>
          <p
            class="mx-8 mt-6 max-w-[240px] 3xl:max-w-[295px] text-center text-base font-medium leading-6 dark:text-HahuGray3 line-clamp-5 group-hover:line-clamp-none"
          >
            {{ person.prov }}
          </p>
        </a>
      </div>
    </div>

    <a href="Team" class="flex self-center justify-center mt-20">
      <button
        class="flex group items-center rounded-md bg-primary text-sm px-2 py-1 md:px-5 md:py-3 mdtext-base font-medium leading-6 text-white"
      >
        Meet the team
        <ArrowNarrowRightIcon
          class="ml-3 inline-block h-5 w-5 text-white duration-300 group-hover:translate-x-1"
        />
      </button>
    </a>
  </section>
</template>

<style scoped></style>
